@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
:root {
  --bg: #ffeed1;
  --bg2: #ffc46c;
  --text: #3a2e2a;
  --accent: #4e7c78;
  --tarjeta-1: #596ab4;
  --tarjeta-2: #7faeaa;
}
body{
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}
h1, h2 {
  font-family: "modak",sans-serif;
}
h3, h4{
  font-family: "aladin",sans-serif;
}
p{
  font-family: "aladin",sans-serif;
}
button{
  font-family: "rakkas",sans-serif;
}
.dark {
  --bg: #1e1e1e;
  --text: #f4f1ec;
  --accent: #7faeaa;
}
