@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
:root {
  --bg: #f4f1ec;
  --text: #3a2e2a;
  --accent: #4e7c78;
}
h1{
  font-family: "modak",sans-serif;
}
p{
  font-family: "aladin",sans-serif;
}
button{
  font-family: "rakkas",sans-serif;
}
.dark {
  --bg: #1e1e1e;
  --text: #f4f1ec;
  --accent: #7faeaa;
}
